services:
  rabbitmq:
    image: rabbitmq:3-management
    ports:
      - "5672:5672"
      - "15672:15672" # UI
    healthcheck:
      test: ["CMD", "rabbitmq-diagnostics", "ping"]
      interval: 5s
      timeout: 5s
      retries: 12

  api:
    build: ./api
    ports:
      - "8080:8080"
    environment:
      RABBIT_URL: amqp://guest:guest@rabbitmq:5672/
      QUEUE_NAME: jobs
    depends_on:
      rabbitmq:
        condition: service_healthy

  worker:
    build: ./worker
    environment:
      RABBIT_URL: amqp://guest:guest@rabbitmq:5672/
      QUEUE_NAME: jobs
      CRASH_PROB: "0.2"
    depends_on:
      rabbitmq:
        condition: service_healthy
